<div id="hero-2" class="mdl-layout_content">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>
                        Course
                </h2>
                <p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum debitis harum sint natus? Deleniti voluptas,
                    eum voluptates repellendus.</p>
            </div>
        </div>
    </div>
</div>

<section id="main">
        <div class="container">
            <div id="search">
                <div class="row">
                    <div class="col s12">
                        <input type="text" ng-model="vm.crs_search" class="center-align" id="search-input" placeholder="Search">
                    </div>
                </div>
            </div>

            <div id="crs_modules">
                <div class="row">
                    <!--Modules -->

                    <div class="col s4" ng-show="vm.Modules.length <= 0">
                        <div class="card small">
                            <!-- Card Content -->
                             <p class="md-count">Preview</p>
                            <div class="card-content">
                                <span class="card-title">
                                    Forex Basics Whais fore
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                <div class="card-action">
                                    <a href="#/lesson/1">Preview</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s4" ng-repeat="lesson in vm.Modules | filter:vm.crs_search ">
                        <div class="card small">
                            <!-- Card Content -->
                            <p class="md-count">{{lesson.lesson}}</p>
                            <div class="card-content">
                                <span class="card-title">
                                    {{lesson.name}}
                                </span>
                                <p>{{lesson.description}}</p>
                                <div class="card-action">
                                    <a href="#/lesson/{{lesson.id}}">Start Module</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>

 <div ng-include="'templates/footer.tmpl.html'"></div>
