<page-header page="vm.page"></page-header>

<section id="main">
        <div class="container">
            <div id="search" ng-hide="vm.Modules.length == 0">
                <div class="row">
                    <div class="col s12">
                        <input type="text" ng-model="vm.crs_search" class="center-align" id="search-input" placeholder="Search">
                    </div>
                </div>
            </div>
            <div id="crs_modules">
                <div class="row">
                    <!--Modules -->
                    <div class="row empty-response" ng-show="vm.Modules.length == 0" style="text-align:center;">
                      <p>sorry</p>
                      <i class="fa fa-calendar-times-o"></i>
                      <h4>No modules uploaded</h4>
                    </div>
                    <div class="col s4" ng-repeat="lesson in vm.Modules | filter:vm.crs_search ">
                        <div class="card small" ng-class="{'enabled': lesson.enabled }">
                            <!-- Card Content -->
                            <p class="md-count">{{lesson.lesson}}</p>
                            <div class="card-content">
                                <span class="card-title">
                                    {{lesson.name}}
                                </span>
                                <p>{{lesson.description}}</p>
                                <p class="crs-status" ng-class="{'completed': lesson.status=='completed'}" ng-if="lesson.status">{{lesson.status}}</p>

                                <div class="card-action">
                                    <p ng-if="!lesson.enabled">Start Module</p>
                                    <a ng-if="lesson.enabled"  href="#/lesson/{{lesson.id }}">{{(lesson.status=='completed') ? 'ReDO': (lesson.status=='incomplete') ? 'RESUME' : 'Start Module' }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>

 <div ng-include="'templates/footer.tmpl.html'"></div>
