<section id="contact">
        <div class="container">
            <h2>Contact us</h2>
            <div class="row">
                <div class="col m4 s12">
                    <img src="images/logo-g.png" class="low-opac" alt="Raynata Elizatbeth Osman">
                    <ul class="socials">
                        <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col m5 s12 offset-m3">
                    <div class="info">
                        <p>82 Maude Street, Sandton, Johannesburg <i class="fa fa-map-marker"></i></p>
                        <p>info@reofoundation.co.za <i class="fa fa-envelope-o"></i></p>
                        <p> (010) 003 0200 <i class="fa fa-phone"></i></p>
                        <p>072 372 0362 <i class="fa fa-mobile-phone"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <p> &copy; 2016 Raynata Osman Foundation</p>
    </footer>