<header>
        <div class="navbar-fixed" ng-class="{'tradebook': vm.tradebook}">
                <nav>
                        <div class="nav-wrapper">
                                <div class="container">
                                        <a href="" ng-if="!vm.tradebook" class="brand-logo animated slideInDown">
                                                <img  src="images/logo.png" alt="Raynata Elizatbeth Osman" />
                                        </a>
                                        <a href="" ng-if="vm.tradebook" class="brand-logo animated slideInDown">
                                                <img  src="images/tradebook.png" width="130" alt="Tradebook" />
                                        </a>
                                        <ul ng-hide="vm.quiz" id="nav-mobile" class="right">
                                                <li><a class="nav-item" href="http://reofoundation.co.za">Home</a></li>
                                                <li><a class="nav-item" ui-sref="course">Course</a></li>
                                                <li><a class="nav-item" ui-sref="thoughts.index"
                                                       ng-if="vm.loggedIn">Tradebook</a></li>
                                                <li><a class="nav-item" ui-sref="schedule"
                                                       ng-if="vm.loggedIn">Schedule</a></li>
                                                <li><a class="nav-item button" ng-show="vm.loggedIn"
                                                       data-activates='userDropdown' dropdown data-hover="true"><i
                                                        class="fa fa-user" style="margin-right:5px"></i>{{vm.loginUser.firstname}}
                                                </a></li>
                                                <li><a class="nav-item button button_highlight " ng-if="!vm.loggedIn"
                                                       ng-click="vm.openLogin()">Login</a></li>
                                        </ul>

                                        <ul class="side-nav" id="mobile-demo">
                                                <li><a href="sass.html">Sass</a></li>
                                                <li><a href="badges.html">Components</a></li>
                                                <li><a href="collapsible.html">Javascript</a></li>
                                                <li><a href="mobile.html">Mobile</a></li>
                                        </ul>

                                        <!-- Dropdown Structure -->
                                        <ul id="userDropdown" class='dropdown-content'>
                                                <li><a ui-sref="profile">Profile</a></li>
                                                <li><a ng-click="vm.logOut()">Logout</a></li>
                                        </ul>
                                </div>
                        </div>
                </nav>
        </div>
</header>

<div ng-if="vm.loggedIn && vm.loginUser.role !=='student'" class="fixed-action-btn horizontal"
     style="bottom: 200px; right:40px">
        <a class="btn-floating btn-large red">
                <i class="fa fa-cogs"></i>
        </a>
        <ul>
                <li><a ng-click="vm.gotoView('schedule-manages')" class="btn-floating red"><i
                        class="fa fa-calendar"></i></a></li>
                <li><a ng-click="vm.gotoView('student-manage')" class="btn-floating green"><i
                        class="fa fa-users"></i></a></li>
                <!-- <li><a ng-click="vm.gotoView('')" class="btn-floating blue"><i class="fa fa-flask"></i></a></li> -->
        </ul>
</div>
