<page-header page="vm.page">
</page-header>

<section id="schedule-public">
        <div class="row empty-response" style="text-align:center;">
                <p>Resetting Password</p>
                <p style="margin:5px 0">
                        {{ vm.email }}
                </p>
                <div class="row">
                        <div class="input-field col s12">
                                <input id="password" placeholder="Password" ng-model="vm.log.password" type="password"
                                       class="validate" required />
                        </div>
                        <div class="input-field col s12">
                                <input id="verPassword" placeholder="Password" ng-model="vm.log.password" type="password"
                                       class="validate" required />
                        </div>
                </div>

                <button
                        ng-click="vm.resetPassword()"
                        class="waves-effect btn-large waves-light btn-radius blue-grey btn">
                        Reset Password
                </button>
        </div>
</section>

<div ng-include="'templates/footer.tmpl.html'"></div>
